# Unity generated
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# IDE
.idea/
.vs/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs

# OS
.DS_Store

# Unity crash reports
sysinfo.txt
*.stackdump

# Server
.gradle/
shooter-logs/
*.log
.env

# Builds
*.apk
*.aab
*.unitypackage
*.app
